[package]
name = "yakui-winit"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
yakui = { path = "../.." }

winit = "0.26.1"
